<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
   
    <servlet>
        <display-name>TrendServlet</display-name>
        <servlet-name>trend</servlet-name>
        <servlet-class>com.ccgautomation.servlets.TrendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>trend</servlet-name>
        <url-pattern>/trend/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>SimpleJsonDS_Annotations</display-name>
        <servlet-name>sjds_annotaitons</servlet-name>
        <servlet-class>com.ccgautomation.servlets.sjds.AnnotionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sjds_annotaitons</servlet-name>
        <url-pattern>/sjds/annotations</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>SimpleJsonDS_Search</display-name>
        <servlet-name>sjds_search</servlet-name>
        <servlet-class>com.ccgautomation.servlets.sjds.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sjds_search</servlet-name>
        <url-pattern>/sjds/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>SimpleJsonDS_Query</display-name>
        <servlet-name>sjds_query</servlet-name>
        <servlet-class>com.ccgautomation.servlets.sjds.QueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sjds_query</servlet-name>
        <url-pattern>/sjds/query</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>SimpleJsonDS_TestConnection</display-name>
        <servlet-name>sjds_testconnection</servlet-name>
        <servlet-class>com.ccgautomation.servlets.sjds.ConnectionTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sjds_testconnection</servlet-name>
        <url-pattern>/sjds/</url-pattern>
    </servlet-mapping>

    <security-constraint>
       <web-resource-collection>
          <web-resource-name>WEB</web-resource-name>
          <url-pattern>/*</url-pattern>
          <http-method>GET</http-method>
          <http-method>POST</http-method>
       </web-resource-collection>
       <auth-constraint>
          <role-name>login</role-name>
       </auth-constraint>
    </security-constraint>

    <login-config>
       <auth-method>FORM</auth-method>
       <form-login-config>
          <form-login-page>/loginout/login.jsp</form-login-page>
          <form-error-page>/loginout/fail_login.jsp</form-error-page>
       </form-login-config>
    </login-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
